assets/TempleLogo.jpg filter=lfs diff=lfs merge=lfs -text
assets/alert.svg filter=lfs diff=lfs merge=lfs -text
assets/apple.svg filter=lfs diff=lfs merge=lfs -text
assets/lartisan.png filter=lfs diff=lfs merge=lfs -text
assets/menu_items filter=lfs diff=lfs merge=lfs -text
assets/playstore.svg filter=lfs diff=lfs merge=lfs -text
assets/Roskakalalogo.jpg filter=lfs diff=lfs merge=lfs -text
assets/L_ArtisanLogo.jpg filter=lfs diff=lfs merge=lfs -text
assets/klandestina.png filter=lfs diff=lfs merge=lfs -text
assets/otoro.png filter=lfs diff=lfs merge=lfs -text
assets/roskakala.png filter=lfs diff=lfs merge=lfs -text
assets/HummusBrothersLogo.jpg filter=lfs diff=lfs merge=lfs -text
assets/OtoroLogo.jpg filter=lfs diff=lfs merge=lfs -text
assets/clock.svg filter=lfs diff=lfs merge=lfs -text
assets/google.svg filter=lfs diff=lfs merge=lfs -text
assets/the-bar.jpeg filter=lfs diff=lfs merge=lfs -text
assets/user-circle.svg filter=lfs diff=lfs merge=lfs -text
assets/KlandestinaLogo.jpg filter=lfs diff=lfs merge=lfs -text
assets/location.svg filter=lfs diff=lfs merge=lfs -text
assets/logo.svg filter=lfs diff=lfs merge=lfs -text
assets/room-service.svg filter=lfs diff=lfs merge=lfs -text
assets/temple.png filter=lfs diff=lfs merge=lfs -text
assets/the-bar.png filter=lfs diff=lfs merge=lfs -text
assets/hummus-bros.png filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_12_32.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_13_434.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_75_492.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_357.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_361.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_81_490.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_241.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_351.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_365.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_7_10_26.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_285.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_48_197.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_15_41.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_239.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_24_53_214.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_344.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_307.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_72_387.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_2_2.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_187.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_429.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_28_67_378.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_6_8_22.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_204.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_40.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_232.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_235.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_183.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_186.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_154.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_31_65_295.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_402.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_282.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_468.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_2_5.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_30_63_290.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_329.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_258.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_45_433.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_362.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_5_9_24.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_315.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_38_156.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_244.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_58_255.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_184.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_189.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_152.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_227.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_403.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_36_85_480.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_231.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_372.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_45_176.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_36_85_475.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_274.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_431.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_35_79_424.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_11_30.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_48_196.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_321.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_248.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_32_61_270.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_33_74_398.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_44_167.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_3_6_17.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_330.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_245.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_262.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_360.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_3_6_18.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_190.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_48_195.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_12_19_64.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_26_55_224.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_338.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_13_21_74.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_14_18_59.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_7_10_27.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_10_20_68.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_11_29.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_12_33.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_46_178.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_354.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_205.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_36_85_473.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_72_484.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_28_64_292.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_29_62_281.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_12_35.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_332.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_206.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_40_160.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_72_472.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_44_166.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_44_173.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_45_175.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_346.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_185.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_33_74_397.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_13_36.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_353.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_369.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_331.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_318.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_271.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_25_54_222.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_366.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_182.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_50_200.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_320.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_81_451.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_345.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_57_420.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_7_10_28.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_260.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_77_411.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_31_65_294.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_50_201.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_40_161.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_236.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_348.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_363.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_375.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_286.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_72_483.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_44_172.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_310.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_36_85_474.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_30_63_288.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_12_34.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_29_62_280.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_75_407.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_306.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_14_18_58.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_15_49.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_35_148.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_242.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_364.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_48_192.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_335.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_35_147.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_243.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_401.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_11_17_56.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_229.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_25_54_216.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_32_71_382.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_12_491.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_44_171.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_358.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_373.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_404.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_238.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_247.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_287.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_11_17_53.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_4_7_20.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_208.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_486.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_347.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_349.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_28_67_377.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_30_69_380.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_35_79_426.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_317.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_39_158.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_58_254.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_4_7_21.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_49_198.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_210.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_13_21_76.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_275.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_264.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_352.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_5_9_25.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_316.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_10_20_71.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_58_253.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_32_61_269.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_240.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_34_78_422.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_44_169.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_356.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_416.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_12_19_62.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_151.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_81_449.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_405.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_100.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_28_64_291.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_27_60_265.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_29_68_379.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_31_65_296.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_98.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_323.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_305.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_311.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_277.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_155.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_336.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_234.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_3_165.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_301.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_319.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_72_471.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_228.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_259.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_15_43.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_3_6_16.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_334.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_313.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_75_408.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_342.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_30_63_289.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_284.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_48_386.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_309.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_81_450.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_233.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_246.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_34_78_423.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_35_447.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_226.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_2_4.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_340.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_202.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_485.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_261.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_24_53_213.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_14_18_60.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_3_12.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_304.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_12_31.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_314.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_36_85_479.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_256.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_28_64_293.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_384.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_57_249.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_26_55_225.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_283.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_181.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_324.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_276.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_427.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_36_85_477.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_15_45.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_263.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_29_62_279.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_211.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_488.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_15_50.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_278.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_470.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_6_8_23.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_57_251.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_341.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_3_13.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_355.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_368.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_374.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_99.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_48_194.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_40_159.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_35_79_425.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_430.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_367.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_36_85_476.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_37.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_149.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_46_177.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_32_61_268.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_75_493.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_2_3.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_180.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_203.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_12_19_65.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_35_146.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_58_252.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_257.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_359.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_5_9_432.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_179.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_207.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_209.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_17_72_482.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_370.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_8_75_406.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_395.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_34_78_421.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_37_469.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_308.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_230.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_31_70_381.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_33_74_396.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_337.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_371.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_4_7_19.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_39.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_273.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_56_237.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_77_412.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_48_193.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_312.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_35_446.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_57_250.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_25_54_221.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_325.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_48_191.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_49_199.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_51_302.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_487.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_35_448.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_383.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_15_48.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_350.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_97.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/7_19_47_188.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_489.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/2_16_36_272.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_45_174.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/6_15_26_417.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_339.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/5_2_66_343.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_14_38.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/8_9_15_44.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/3_18_59_385.jpeg filter=lfs diff=lfs merge=lfs -text
assets/menu_items/4_24_53_215.jpeg filter=lfs diff=lfs merge=lfs -text
